.vscode
Makefile
**.make
**.exe
MarkdownParser
NewVersion/obj/Debug/**
NewVersion/obj/Release/**
**.o
**.d
NewVersion/bin/Debug/MarkdownParser.exe
NewVersion/bin/Release/MarkdownParser.exe
NewVersion/markdown-parser.sublime-workspace
