.vscode
Makefile
*.make
*.exe
MarkdownParser
Plugin__Markdown_to_HTML
NewVersion/obj/Debug/**
NewVersion/obj/Release/**
*.o
*.d
NewVersion/markdown-parser.sublime-workspace
NewVersion/plugins/MarkdownToHTML/Plugin__markdown-to-html.sublime-workspace
